@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="jumbotron">
        <h1>Everton - Corridas Compartilhadas</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="Nome">Nome:</label>
            <input type="text" id="Nome" name="Nome" />
        </div>
        <div class="col-md-6">
            <label for="DN">Data Nascimento:</label>
            <input type="date" id="DN" name="DN" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="CPF">CPF:</label>
            <input type="text" id="CPF" name="CPF" />
        </div>
        <div class="col-md-6">
            <label for="Sexo">Sexo:</label>
            <select id="Sexo">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <input type="button" id="save" name="save" value="Salvar" />
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#save").on('click', function () {
        debugger;
        var obj = {
            Nome: $('#Nome').val(),
            DataNascimento: $('#DN').val(),
            CPF: $('#CPF').val(),
            Sexo: $('#Sexo').val()
        };

        $.ajax({
            url: '/Passageiros/Novo',
            type: 'POST',
            data: obj,
            success: function () {
                alert("Salvo com sucesso!");
                window.location.href = "/Passageiros/Index";
            }
        });
    })
</script>